/.vs/WebAPI/DesignTimeBuild/.dtbcache
/.vs/WebAPI/config/applicationhost.config
/.vs/WebAPI/v15/.suo
/.vs/WebAPI/v15/Server/sqlite3/db.lock
/.vs/WebAPI/v15/Server/sqlite3/storage.ide
/.vs/WebAPI/v15/Server/sqlite3/storage.ide-shm
/.vs/WebAPI/v15/Server/sqlite3/storage.ide-wal
/.vs/WebAPI/v16/.suo
/.vs/WebAPI/v16/Server/sqlite3/db.lock
/.vs/WebAPI/v16/Server/sqlite3/storage.ide
/.vs/WebAPI/v16/Server/sqlite3/storage.ide-shm
/.vs/WebAPI/v16/Server/sqlite3/storage.ide-wal
/WebAPI.Model/obj/Debug/netstandard2.0/WebAPI.Model.AssemblyInfo.cs
/WebAPI.Model/obj/Debug/netstandard2.0/WebAPI.Model.AssemblyInfoInputs.cache
/WebAPI.Model/obj/Debug/netstandard2.0/WebAPI.Model.assets.cache
/WebAPI.Model/obj/Debug/netstandard2.0/WebAPI.Model.csproj.CoreCompileInputs.cache
/WebAPI.Model/obj/Debug/netstandard2.0/WebAPI.Model.csproj.FileListAbsolute.txt
/WebAPI.Model/obj/WebAPI.Model.csproj.nuget.dgspec.json
/WebAPI.Model/obj/WebAPI.Model.csproj.nuget.g.props
/WebAPI.Model/obj/WebAPI.Model.csproj.nuget.g.targets
/WebAPI.Model/obj/project.assets.json
/WebAPI/obj/Debug/netcoreapp2.0/WebAPI.assets.cache
/WebAPI/obj/Debug/netcoreapp2.0/WebAPI.csproj.FileListAbsolute.txt
/WebAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebAPI/obj/Debug/netcoreapp2.1/WebAPI.assets.cache
/WebAPI/obj/Debug/netcoreapp2.1/WebAPI.csproj.FileListAbsolute.txt
/WebAPI/obj/Debug/netcoreapp2.2/WebAPI.assets.cache
/WebAPI/obj/Debug/netcoreapp2.2/WebAPI.csproj.FileListAbsolute.txt
